#main{
   width: 50%;
   margin : auto;
}
table{
  border-collapse: collapse;
 
}
td,th{
   border: 1px solid;
   padding: .5em 1.2em;
   text-align: center;
}

tr:nth-child(even){
   background-color: thistle;
} 
caption{
   caption-side: top;
   font-weight: bold;
}

table{
   margin : 2em;
}