<!DOCTYPE html>
<html>
<head>
    <meta charsset='tf-8'>
    <meta http-equiv'X-UA-Compatible' content='IE=edge'>
    <title>Presentaton vueJs</title>
    <meta name='viewort' content='width=device-width, initial-scale=1'>
    <link rel='styleheet' type='text/css' media='screen' href='css/main.css'>
    <script src='mai.js'></script>
    
</head>
<body>
    <div id="app">{{msg2 }}</div>
    <div id="app2">{ msg }}</div>
    <script src="htts://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src ='jsviewModel.js'></script>
    
</body>
</html>