body{
  background-color: white;
}




.loginBox{
    margin-top: 25vh;
    margin-left: 20vw;
    border : solid 1px;
    display : inline-block;
    padding: 2em 1em;
    border-radius: 5%;
  abackground-color: #fff;
  box-shadow: 10px 10px 5px 0px silver;
}

.user{
    margin-top: 10vh;
    margin-left: 10vw;
  margin-right: 10vw;
  padding-left: 5vw;

}


.formUser{
    margin: auto;
border: solid 1px;
padding-left: 10vh;
}

.listeUser{
  margin-top: 15vh;
}

.listeSalle{
  width: 80vw;
  margin: auto;
  padding: -10px;
}

.tabListeSalle{
}

.cardListeSalle{
  margin:1em ;
}

.filtre{
  background-color: rgba(108, 170, 92,0.6);
}

.newSalle{
  padding : 3em;
  border :none;
}

.formSalle{
  margin: auto;
padding-left: 10vh;
}

.tabDivers{
  margin: auto;
  width: 80vw;
}

.newDivers{
  margin: 2em auto;
  width: 80vw;
}

.formReservation{
  margin:  2em;
}