.auth {
  background-image: url(/img/batiment.jpg);
  height: 100vh;
  width: 100vw;
  background-image: no-repeat;
  background-size: cover;
  color: white;
}


.authHeader{
  background-color: #47A628;
  height: 6vh;
  font-size: 3vh;
  font-style: italic;
}

.imgHeader{
  background-color: #47A628;
  height: 6vh;
}


.white{
 color: white;
}

.loginBox{
    margin-top: 25vh;
    margin-left: 20vw;
    display : inline-block;
    padding: 4em 1em;
    background-color: rgba(108, 170, 92,0.6);
    color: white;
}

.lienAuth{
  color: white;
  text-decoration: underline;
}
