body{
  color : black;
}


.header{
  background-color: #47A628;
 height: 6vh;
  font-size: 2vh;
  font-style: italic;
  color : black;
}

.imgHeader{
  background-color: #47A628;
  
}


.white{
 color: black;
}


a{
  color: black;
  padding: 0.4em;
  text-decoration: none;
}
