body{
	width: 850px;
	margin: auto;
	vertical-align: center;
	text-align: left;
	font-family:"sherif",sans-serif;
}

#entete{
	position : relative;
	top :20px;
	font-size: 1.2em;
}
#title{
	text-align : right;
	font-size :1.3em;
	font-weight: bold;
	margin-left : 3em;
	position : absolute;
	top : 40px;
	right : 1px;
}
#coordonnee{
	position : absolute;
	top : 0px;
	left : 0px;
}

#main{
	position : relative;
	top : 90px;
}

.bleu{
	color: rgb(36, 101, 167);	
}
table{
	text-align: left;
	border-collapse: collapse;

}
td{
	padding-bottom : 1em;
}

tbody td:nth-child(odd)
{
	vertical-align: top;
  background: #ededed;
  width : 9em;
  padding-top : .2em;

}
tbody td:nth-child(even)
{
 
  padding-left: 10px;

}

.titre{
	
	padding-top : 0.5em;
	font-size: 1.3em;
	border-bottom: 2px solid ;

}
