#boite1{
    background-color: red;
    border: solid blue;
   width: 200px;
   height: 200px;
   position: absolute ;

}

#boite2{
    background-color:blue;
    border: solid white;
    width: 135px;
    height: 135px;
    position: absolute ;
    top : 30px;
    left : 40px;
}

#boite3{
    background-color: yellow;
    border: solid red;
    width: 200px;
   height: 200px;
   position: relative ;
    top : 90px;
    left : 50px;
    z-index: 1;
}
   
#boite6{
    background-color: red;
    border: solid blue;
    width: 100px;
    height: 100px;
    position: absolute ;
    top : 20px;
    left : 80px;
    z-index: 2;
 }

#boite4{
    background-color:orange;
    border: solid green;
    width: 110px;
    height: 110px;
    position: absolute ;
    top : 50px;
    right : 40px;
    z-index: 3;
}

#boite5{
     background-color: green;
     border: solid black;
     width: 120px;
     height: 120px;
     position: absolute ;
    top : 70px;
    right : 40px;
    z-index: 4;
}

