#main{
   width: 50%;
   height : 10em;
   margin: auto;
}
input[type='text']{
   width: 100%;
   height: 100%;
   margin: auto;
   border: none;
   background-color: inherit;
}
#erreur{
   color: red;
   font-size: 1.3em;
   margin-top: 1em;
}

td{
 background-color: lavender;
 margin: 0;
 padding: 0;

}

th{
   background-color:lavenderblush;
   margin: 0;
 padding: 0;
  }

.barre{
   text-decoration-line: line-through;
}