#main{
   width : 50%;
   border : solid 1px;
   padding : 1em;
   margin: auto;
}

#texte{
   border-bottom : solid 1px;
   padding-bottom : 1em;
}

#resultat{
   padding : 1em  .2em;
}

input[type=text]{
 width: 100%;
 margin : 1em  .2em;
}


