#main{
   width: 80%;
   margin: auto;
}


#new{
   float : left;
   position : fixed;
   margin: 2em;
}

form{
   width: 50%;
   margin: auto;
}

button{
   font-size:18px;
   border: none;
   background-color: inherit;
   margin-top: 10px;
}
