
tr:hover.select{
  cursor: pointer;
  background-color: rgb(218, 213, 213);
  }

  tr:nth-child(even), thead{
background-color:rgb(240, 236, 236);
  }

  .main{
    margin-top:80px;
  }

  

  .ajout{
   margin : 1em;
  }
<<<<<<< Updated upstream
=======
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> Stashed changes
