table{
   border-collapse: collapse;
   
    
}

table,td, th{
    border: solid 1px lightgray;
}
td,th{
    padding: .6em 6em .6em 0;
}
th{
    text-align: left;
}
tr:nth-child(even){
    background-color: lightgray;
}