#main{
   width: 80%;
   margin: auto;
}
table{
  border-collapse: collapse;
 
}
td,th{
   border: 1px solid;
   padding: .5em 1.2em;
   text-align: center;
}

tr:nth-child(odd){
   background-color: thistle;
} 
caption{
   caption-side: top;
   font-weight: bold;
}

table{
   display: inline;
   margin : 5em;
}




