#main{
    width: 40%;
    
}
#title{
    text-align:center;
}
p{
    font-size: 1.3em;
}
h2{
    font-size: 1.7em;
}
#image{
    margin: 10px;
}
#tribute-info{
    text-align:center;
    font-size: 2em;
}
#img-caption{
    text-align:center;
    font-weight: bold;
}
